div.section {
    font-family: Helvetica, Arial, sans;
    font-size: 11px;
    padding-left: 4px;
    padding-right: 0px;
    padding-top: 0;
    padding-bottom: 0;
}

p.sectiontitle {
    font-weight: bold;
    font-size: 12px;
}

p.subsectiontitle {
    font-weight: bold;
    font-style: italic;
    font-size: 10px;
}

dl.gitcommandhelp {

}

dl.gitcommandhelp dt {
    font-family: AndaleMono, monospace;
    color: darkblue;
    padding: 4px;
    background: #EEEEEF;
}

dl.gitcommandhelp dd {
    padding: 4px;
    margin-left: 2em;
}

span.argterm {
    font-family: AndaleMono, monospace;
    font-style: italic;
    color: purple;
}
