<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>GitCommands</string>
	<key>CFBundleIdentifier</key>
	<string>com.jeet.widget.GitCommands</string>
	<key>CFBundleName</key>
	<string>GitCommands</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.2</string>
	<key>CFBundleVersion</key>
	<string>1.1.2</string>
	<key>CloseBoxInsetX</key>
	<integer>15</integer>
	<key>CloseBoxInsetY</key>
	<integer>15</integer>
	<key>Height</key>
	<integer>488</integer>
	<key>MainHTML</key>
	<string>GitCommands.html</string>
	<key>Width</key>
	<integer>402</integer>
</dict>
</plist>
